<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="search by any term" #input>
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8">


  <ng-container matColumnDef="tokenOwner">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by wallet">
      wallet owner
    </th>
    <td mat-cell *matCellDef="let element"> {{element.tokenOwner}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by stake">
      stake amount
    </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

 
  <ng-container matColumnDef="validatorVoteAccount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by vote address">
      validator vote key
    </th>
    <td mat-cell *matCellDef="let element"> {{element.validatorVoteAccount}} </td>
  </ng-container>

  <ng-container matColumnDef="directStake">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by stake">
      stake distribute to the validator
    </th>
    <td mat-cell *matCellDef="let element"> {{element.directStake}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>

<div class="m-color">
  Vote Records Created At: {{snapshotCreatedAt}}
</div>
<div class="m-color">
  stake ratio: 1/{{stakeRatio}}
</div>